<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos.css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    <div class="DatosU">
        <div>
            <h1 style="display: flex;justify-content: center;align-items: center;">Victoria Palacio</h1>
        </div>
        <div>
            <p style="margin-bottom: 0em;">ID.1.089.461.074</p>
        </div>
        <div class="Nivel">
            <p class="circulo"></p>
            <p class="circulo"></p>
            <p class="circulo"></p>
            <p class="circulo4"></p>
            <p class="circulo4"></p>
            <p> Nv.Intermedio</p>
        </div>
        <div class="Referio">
            <p class="circulo"></p>
            <p>Referido por:Carlos Valencia</p>
        </div>
        <div class="Referido1">
            <p class="circulo"></p>
            <p>Refirió: Vanesa Ospina</p>
        </div>
        <div class="Referido2">
            <p class="circulo"></p>
            <p>Refirió: Cristian Bedoya</p>
        </div>
        <div class="Antiguedad">
            <p class="circuloInv"></p>
            <p>Antigüedad: 12 meses</p>
        </div>
        <div class="Antiguedad">
            <p class="circuloInv"></p>
            <p>No. Registros totales: 4.500</p>
        </div>
        <div class="Antiguedad">
            <p class="circuloAzulOscuro"></p>
            <p>Registros Personales: 2.198</p>
        </div>
        <div class="Antiguedad">
            <p class="circuloAzulClaro"></p>
            <p>Registros Personales: 2.302</p>
        </div><br><br>
        <div class="DivSwitch">
            <img style="padding-right: 5px;" src="../Imagenes/ojo.png" alt="">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <img style="padding-left:65px" src="../Imagenes/ver.png" alt="">
        </div>
    </div>
    
</body>
</html>