<!DOCTYPE html>
<html lang="en" style="height:100%" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="height: 100%" >
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%">
        <input style="margin-top: 1em;color: #53737A;border-radius: 7px;width: 90%;height: 40px;text-align: center;font-weight: 900;" placeholder="Usuario" type="text">
        <input style="margin-block: 1em;color: #53737A;border-radius: 7px;width: 90%;height: 40px;text-align: center;font-weight: 900;" placeholder="Contraseña" type="text">
        <a style="display: flex;justify-content: center;align-items: center;background-color: black;color: white;text-decoration: none;width: 90%;text-align: center;height: 40px;border-radius: 7px;" href="">Entrar</a>
    </div>
</body>
</html>