<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos.css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    <div class="DatosU">
        <div>
            <h1 style="display: flex;justify-content: center;align-items: center;">Menú</h1>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/aprobado.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/seguridad-de-la-base-de-datos.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/gastos.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/home.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/contrato.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/datos1.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/mapa-conceptual.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/creciente.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/detective.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        <div class="Menu">
            <img class="Img-Menu" src="../Imagenes/amigos.png" alt="">
            <p style="background-color: #002258;color: white;display: flex;justify-content: center;">Registrador</p>
            <div class="DivSwitch">                
                <label  onclick="ocultarSaldo()" class="switch">
                    <input type="checkbox">
                    <span class="slider-Menu"></span>
                </label>
            </div>
        </div>
        
    </div>
    
</body>
<script src="../js/inicio.js"></script>
</html>